@model IEnumerable<DoAn2.Models.DatHang>

@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            
                            <th>
                                @Html.DisplayNameFor(model => model.NgayDatHang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TriGia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DaGiao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NgayGiao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HoTen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DienThoai)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.NgayDatHang)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TriGia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DaGiao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NgayGiao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HoTen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DienThoai)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayDatHang)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TriGia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DaGiao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NgayGiao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoTen)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DiaChi)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DienThoai)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", new { id = item.DatHangID }) |
                                    @Html.ActionLink("Xem", "Details", new { id = item.DatHangID }) |
                                    @Html.ActionLink("Xuất Hóa Đơn", "ExportToExcel" , "AdminDatHangCT" , new { id = item.DatHangID },null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

                    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $('#dataTable').DataTable();
                        });
                    </script>
                }

