@model IEnumerable<DoAn2.Models.DatHangCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách đơn hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DatHang.HoTen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sach.TenSach)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SoLuong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DonGia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThanhTien)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.DatHang.HoTen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Sach.TenSach)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SoLuong)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DonGia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ThanhTien)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatHang.HoTen)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sach.TenSach)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DonGia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ThanhTien)
                            </td>
                            

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
}
