@model List<DoAn2.Models.Sach>
@{
    ViewBag.Title = "Trang Chủ";
    var dsSach = ViewBag.dsSach as List<DoAn2.Models.Sach>;
}

<section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-title="Next" data-saveperformance="off" style="background-color: #F6F6F6;">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                         data-x="100"
                         data-y="50"
                         data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style=""><img src="~/Banner/banner0.jpg" alt="Girl"></div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-title="Next" data-saveperformance="off" style="background-color: #F6F6F6;">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                         data-x="100"
                         data-y="50"
                         data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style=""><img src="~/Banner/banner1.jpg" alt="Girl"></div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-title="Next" data-saveperformance="off" style="background-color: #F6F6F6;">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                         data-x="100"
                         data-y="50"
                         data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style=""><img src="~/Banner/banner2.jpg" alt="Girl"></div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-title="Next" data-saveperformance="off" style="background-color: #F6F6F6;">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                         data-x="100"
                         data-y="50"
                         data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style=""><img src="~/Banner/banner3.png" alt="Girl"></div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000" data-title="Next" data-saveperformance="off" style="background-color: #F6F6F6;">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                         data-x="100"
                         data-y="50"
                         data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-speed="400"
                         data-start="1000"
                         data-easing="easeOutQuad"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.1"
                         data-endspeed="1000"
                         data-endeasing="Power4.easeIn" style=""><img src="~/Banner/banner4.png" alt="Girl"></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- END REVOLUTION SLIDER -->

</section>

<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="clear"></div>

            <div class="tabs topmargin-lg clearfix" id="tab-3">

                <ul class="tab-nav clearfix">
                    <li><a href="#tabs-9">Hàng mới</a></li>
                    <li><a href="#tabs-10">Đọc nhiều</a></li>
                </ul>

                <div class="tab-container">

                    <div class="tab-content clearfix" id="tabs-9">
                        <form id="frmChonMua" method="post">
                            @Html.AntiForgeryToken()
                        </form>
                        <div id="shop" class="shop clearfix">

                            @foreach (var item in Model)
                            {
                                <div class="product clearfix">
                                    <div class="product-image">
                                        <a href="#"><img src="~/Images/@item.HinhBia" alt="@item.TenSach"></a>
                                        <div class="product-overlay">
                                            @*<a href="@Url.Action("Them", "GioHang", new { sanPhamID = item.SachID })"
                                                form="frmChonMua"
                                                formaction="@Url.Action("Them", "GioHang", new { sanPhamID = item.SachID })"
                                                class="add-to-cart"><i class="icon-shopping-cart"></i><span> Thêm vào giỏ hàng</span></a>*@
                                            <button class="button button-3d button-small nomargin fright"
                                                    form="frmChonMua"
                                                    formaction="@Url.Action("Them", "GioHang", new { sanPhamID = item.SachID })">
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-title">
                                            <h3>
                                                @Html.ActionLink(item.TenSach, "ChiTiet", "SanPham", new { id = item.SachID }, htmlAttributes: new { @target = "_self" })
                                            </h3>
                                        </div>
                                        <div class="product-price"> @item.GiaBan.ToString("0,00##NVĐ")</div>

                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                    <div class="tab-content clearfix" id="tabs-10">
                        <form id="frmChonMua1" method="post">
                            @Html.AntiForgeryToken()
                        </form>
                        <div id="shop" class="shop clearfix">

                            @foreach (var item in dsSach)
                            {
                                <div class="product clearfix">
                                    <div class="product-image">
                                        <a href="#"><img src="~/Images/@item.HinhBia" alt="@item.TenSach"></a>


                                        <div class="product-overlay">

                                            <button class="button button-3d button-small nomargin fright"
                                                    form="frmChonMua1"
                                                    formaction="@Url.Action("Them", "GioHang", new { sanPhamID = item.SachID })">
                                                Thêm vào giỏ hàng
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-title">
                                            <h3>
                                                @Html.ActionLink(item.TenSach, "ChiTiet", "SanPham", new { id = item.SachID }, htmlAttributes: new { @target = "_blank" })
                                            </h3>
                                        </div>
                                        <div class="product-price"> @item.GiaBan.ToString("0,00##NVĐ")</div>

                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                </div>

            </div>

            <div class="clear bottommargin-sm"></div>

            <div class="clear"></div>

        </div>

        <div class="section nobottommargin">
            <div class="container clearfix">

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-thumbs-up2"></i>
                        </div>
                        <h3>100% Original</h3>
                        <p class="notopmargin">We guarantee you the sale of Original Brands.</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-credit-cards"></i>
                        </div>
                        <h3>Payment Options</h3>
                        <p class="notopmargin">We accept Visa, MasterCard and American Express.</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-truck2"></i>
                        </div>
                        <h3>Free Shipping</h3>
                        <p class="notopmargin">Free Delivery to 100+ Locations on orders above $40.</p>
                    </div>
                </div>

                <div class="col_one_fourth nobottommargin col_last">
                    <div class="feature-box fbox-plain fbox-dark fbox-small">
                        <div class="fbox-icon">
                            <i class="icon-undo"></i>
                        </div>
                        <h3>30-Days Returns</h3>
                        <p class="notopmargin">Return or exchange items purchased within 30 days.</p>
                    </div>
                </div>

            </div>
        </div>



    </div>

</section><!-- #content end -->